<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819874466204-vju7bp9bheoiagfoggskagcgjn47ko6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819874466204-vju7bp9bheoiagfoggskagcgjn47ko6k</string>
	<key>API_KEY</key>
	<string>AIzaSyASY7C-LJU9ksG86dEct-qMKia74ieUohU</string>
	<key>GCM_SENDER_ID</key>
	<string>819874466204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furugen.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-cb94a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-cb94a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819874466204:ios:4ac0dce34d0f145847a059</string>
</dict>
</plist>